<!DOCTYPE html>
<html>
	<head>
		<script
			src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<meta charset="ISO-8859-1">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Manager Homepage</title>
		<link
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
			crossorigin="anonymous">
	</head>
	<body ng-app="ersApp" ng-controller="formCtrl"ng-init="formTemplate = 'viewManager' ">
		<button id="btnManager" name="ViewManager" ng-click="formTemplate = 'viewManager'; editable = false ">Manager Profile</button>
		<button id="btnManageEmployees" name="ManageEmployees" ng-click="formTemplate = 'manageEmployees'; editable = false ">Manage Employees</button>
		<button id="btnNewReimbursement" name="NewReimbursement" ng-click="formTemplate = 'newReimbursement' ">New Reimbursement</button>
		<button id="btnManageReimbursements" name="ManageReimbursements" ng-click="formTemplate = 'viewReimbursements' ">Manage Reimbursements</button>
        <button id="btnLogout" name="Logout" ng-click="logOut()">Logout</button>
        
		<section ng-if="formTemplate == 'viewManager'">
			<form>
			{{manager}}
				<button id="btnEdit" name="Edit" ng-click="editable = !editable" ng-init="editable = false">Edit</button>
				
				<div>					
					<label for="UserName">User Name: </label>
					<label>{{manager.userName}}</label>	
					<br>
					
					<label for="Password">Password: </label>
					<input id="password" name="Password" type="password" ng-if="editable" ng-model="manager.password"/>
					<label ng-if="!editable" >##########</label>	
					<br>
					 
					<label for="Email">Email: </label>
					<input id="email" name="Email" type="text" ng-if="editable" ng-model="manager.email"/>
					<label ng-if="!editable" >{{manager.email}}</label>	
					<br>
					
					<label for="FirstName">First Name: </label>
					<input id="firstName" name="FirstName" type="text" ng-if="editable" ng-model="manager.firstName"/>
					<label ng-if="!editable" >{{manager.firstName}}</label>	
					<br>
					
					<label for="LastName">Last Name: </label>
					<input id="lastName" name="LastName" type="text" ng-if="editable" ng-model="manager.lastName"/>
					<label ng-if="!editable" >{{manager.lastName}}</label>	
					<br>
					
					<label for="Permission">Permission: </label>
					<select id="permission" name="Permission" ng-if="editable" ng-model="manager.permissionId" ng-options="p.id as p.name for p in permissions">
					</select>
					<label ng-if="!editable" >{{manager.permissionName}}</label>	
					<br>					
					
					<button id="btnUpdate" name="Update" ng-if="editable" ng-click="attmeptEdit()">Update</button>
					<br ng-if="editable">
				</div>		
			</form>
		</section>
		<section ng-if="formTemplate == 'manageEmployees'">
			{{manager}}
			<form>
				<button id="btnEdit2" name="Edit2" ng-click="editable = !editable" ng-init="editable = false">Edit</button>
				
				
			<select name="Employees" ng-model="employee" ng-options="e.employeeID as e.userName for e in employees">
			</select>
				<div>					
					<label for="UserName">User Name: </label>
					<label>{{employee.userName}}</label>	
					<br>
					
					<label for="Password">Password: </label>
					<input id="password" name="Password" type="password" ng-if="editable" ng-model="employee.password"/>
					<label ng-if="!editable" >##########</label>	
					<br>
					 
					<label for="Email">Email: </label>
					<input id="email" name="Email" type="text" ng-if="editable" ng-model="employee.email"/>
					<label ng-if="!editable" >{{employee.email}}</label>	
					<br>
					
					<label for="FirstName">First Name: </label>
					<input id="firstName" name="FirstName" type="text" ng-if="editable" ng-model="employee.firstName"/>
					<label ng-if="!editable" >{{employee.firstName}}</label>	
					<br>
					
					<label for="LastName">Last Name: </label>
					<input id="lastName" name="LastName" type="text" ng-if="editable" ng-model="employee.lastName"/>
					<label ng-if="!editable" >{{employee.lastName}}</label>	
					<br>
					
					<label for="Permission">Permission: </label>
					<select id="permission" name="Permission" ng-if="editable" ng-model="employee.permissionId" ng-options="p.id as p.name for p in permissions">
					</select>
					<label ng-if="!editable" >{{employee.permissionName}}</label>	
					<br>					
					
					<button id="btnUpdateEmployee" name="UpdateEmployee" ng-if="editable" ng-click="attmeptEditEmployee()">Update Employee</button>
					<br ng-if="editable">
				</div>		
			</form>
		<section ng-if="formTemplate == 'viewReimbursements'">
			<label for="Statuses">Filter By Status: </label>
			<select name="Statuses" ng-model="statusIDs" ng-options="s.status for s in statuses">
			</select>
			<table class="table table-bordered table-striped">
				<tr>
					<th ng-repeat="head in headers"> {{head.name}}</th>
				</tr>
				<tr ng-repeat="reimbursement in (filteredReimbursements = reimbursements | orderBy:'submittedOn' | filter:statusIDs.status)">
				    <td>{{ reimbursement.id }}</td>	
				    <td>{{ reimbursement.expense }}</td>	
				    <td>{{ reimbursement.expenseDate }}</td>				    
				    <td>{{ reimbursement.amount }}</td>
				    <td>{{ reimbursement.submittedOn }}</td>				    
				    <td>{{ reimbursement.updatedBy }}</td>
				    <td>{{ reimbursement.status }}</td>
				    <td>
				    <button id="btnApprove" name="Approve"  ng-click="attemptApproval(reimbursement.id)">Approve</button>
					<button id="btnDeny" name="Deny" ng-click="attemptDeny(reimbursement.id)">Deny</button>
					<td>
				  </tr>
			</table>
			<br>
		</section>
		
		<section ng-if="formTemplate == 'newReimbursement'">	
			<label for="Amount">Amount: </label>
			<input id="amount" name="Amount" type="text" ng-model="amount"/>
			<br>
			
			<label for="Reason">For: </label>
			<input id="reason" name="Reason" type="text" ng-model="reason"/>
			<br>
			
			<label for="ExpenseDate">Date of Expense: </label>
			<input id="expenseDate" name="ExpenseDate" type="text" ng-model="expenseDate"/>
			<br>
			
			{{amount}}
			{{reason}}
			{{expenseDate}}
			<br>
			<button id="btnSubmit" name="Submit" ng-click="attmeptSubmit()">Submit</button>
		</section>
		
		<footer>			
		</footer>
		<script type="text/javascript" src="../js/employee.js"></script>
	</body>
</html>