<!DOCTYPE html>
<html>
	<head>
		<script
			src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<meta charset="ISO-8859-1">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Manager Homepage</title>
		<link
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
			crossorigin="anonymous">
	</head>
	<body ng-app="ersApp" ng-controller="formCtrl" ng-init="switchTemplate('newEmployee'); new = true;">
		<button id="btnNewEmployee" name="NewEmployee" ng-click="switchTemplate('newEmployee'); new = true">New Employee</button>
		<button id="btnViewManager" name="ViewManager" ng-click="switchTemplate('viewManager'); new = false">Profile</button>
		<button id="btnNewReimbursement" name="NewReimbursement" ng-click="switchTemplate('newReimbursement')">Reimbursement</button>
		<button id="btnViewReimbursements" name="ViewReimbursements" ng-click="switchTemplate('viewReimbursements')">Reimbursements</button>
        
		<section ng-controller="employeeCtrl" ng-if="formTemplate == 'viewEmployee' || formTemplate == 'newEmployee' "> 
			<form>
				<button id="btnEdit" name="Edit" ng-show="formTemplate == 'viewEmployee'" ng-click="editable = !editable">Edit</button>
				<button id="btnManager" name="Manager" ng-show="formTemplate == 'viewEmployee'" ng-click="manager = !manager" ng-init="manager = false">Manager</button>
				
				<div>					
					<label for="UserName">User Name: </label>
					<input id="username" name="UserName" type="text" ng-if="editable || new" ng-model="userName"/>
					<label ng-if="!editable && !new" >{{userName}}</label>			
					<br>
					
					<label for="Password">Password: </label>
					<input id="password" name="Password" type="password" ng-if="editable || new" ng-model="password"/>
					<label ng-if="!editable && !new" >{{password}}</label>	
					<br>
					 
					<label for="Email">Email: </label>
					<input id="email" name="Email" type="text" ng-if="editable || new" ng-model="email"/>
					<label ng-if="!editable && !new" >{{email}}</label>	
					<br>
					
					<label for="FirstName">First Name: </label>
					<input id="firstName" name="FirstName" type="text" ng-if="editable || new" ng-model="firstName"/>
					<label ng-if="!editable && !new" >{{firstName}}</label>	
					<br>
					
					<label for="LastName">Last Name: </label>
					<input id="lastName" name="LastName" type="text" ng-if="editable || new" ng-model="lastName"/>
					<label ng-if="!editable && !new" >{{lastName}}</label>	
					<br>
					
					<div ng-if="formTemplate == 'viewEmployee'">
					<label for="Permission">Permission: </label>
					<input id="permission" name="Permission" type="text" ng-if="manager && editable || new" ng-model="permission"/>
					<label ng-if="!editable && !new || !manager" >{{permission}}</label>	
					<br>
					</div>
					
					
					<button id="btnUpdate" name="Update" ng-if="editable && !new">Update</button>
					<button id="btnCreate" name="Create" ng-if="new">Create</button>
					<br ng-if="new || editable">
				</div>		
			</form>
		</section>
		<section  ng-controller="reimbursementsCtrl" ng-if="formTemplate == 'viewReimbursements'">
			<label for="Statuses">Filter By Status: </label>
			<select name="Statuses" ng-model="statusIDs" ng-options="x.status for x in statuses">
			</select>
			{{statusIDs.id}}
			<table class="table table-bordered table-striped">
				<tr>
					<th ng-repeat="head in headers"> {{head.name}}</th>
				</tr>
				<tr ng-repeat="reimbursement in (filteredReimbursements = reimbursements | orderBy:'submittedOn' | filter:statusIDs.status)">
				    <td>{{ reimbursement.id }}</td>	
				    <td>{{ reimbursement.expense }}</td>	
				    <td>{{ reimbursement.expenseDate }}</td>				    
				    <td>{{ reimbursement.amount }}</td>
				    <td>{{ reimbursement.submittedOn }}</td>				    
				    <td>{{ reimbursement.updatedBy }}</td>
				    <td>{{ reimbursement.status }}</td>
				  </tr>
			</table>
			<br>
		</section>
		
		<section  ng-controller="reimburseCtrl" ng-if="formTemplate == 'newReimbursement'">	
			<label for="Amount">Amount: </label>
			<input id="amount" name="Amount" type="text" ng-model="amount"/>
			<br>
			
			<label for="Reason">For: </label>
			<input id="reason" name="Reason" type="text" ng-model="reason"/>
			<br>
			
			<label for="ExpenseDate">Date of Expense: </label>
			<input id="expenseDate" name="ExpenseDate" type="text" ng-model="expenseDate"/>
			<br>
			
			{{amount}}
			{{reason}}
			{{expenseDate}}
			<br>
			<button id="btnSubmit" name="Submit">Submit</button>
		</section>
		
		<footer>		
			<button id="btnLogout" name="Logout">Logout</button>
		</footer>
		<script type="text/javascript" src="../js/manager.js"></script>
	</body>
</html>